<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>普罗米修斯</title>
    <link rel="stylesheet" href="/static/vendor/AdminLTE-master/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/static/css/tmp.css">
</head>
<body class="layout-fixed navbar-dark dark-mode " >
    {{ template "base/menu.html" . }}
      <div class="container-fluid">
          <div class="row">
              <div class="col-9 offset-2">
                  <h2 class="text-center ">prometheus 测试页面</h2>
              </div>
          </div>
      </div>
  </body>
</html>