<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加用户</title>
</head>
<body>
    <form action="/user/add/" method="POST">
        <labels>姓名:</labels><input name="name" value=""/><br/>
        <label>年龄:</label><input name="age" value=""/><br/>
        <label>电话:</label><input name="tel" value=""/><br/>
        <label>密码:</label><input name="password" value=""/><br/>
        <label>住址:</label><textarea name="addr" value=""></textarea><br/>
        <label>性别:</label>
            <input name="sex" type="radio" value="1"/> 男
            <input name="sex" type="radio" value="0"/> 女<br/>
        <input type="submit" value="创建" />
    </form>
</body>
</html>