/* 绑定 login class 标签 */
.login {
    margin-top: 150px;
}

/* 导入图片最为背景图 */
body {
    height: 100%;
    width: 100%;
    background: url("./bei1.jpg");
    background-size: cover;
}

/* 编写绑定登录的字体大小 */
.textSize{
    color:rgb(255, 247, 240);
    font-size: 35px;
}

/* 编写绑定错误登录的提示 */
.error {
    color: red;
}