<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>用户列表！</title>
    </head>
    <body>
        <h2>用户列表</h2>
        <table>
            <thead>
                <tr>
                    <ht>姓名  </ht>
                    <ht>年龄  </ht>
                    <ht>性别  </ht>
                    <ht>地址  </ht>
                    <ht>操作  </ht>
                </tr>
            </thead>
            <tbody>
                {{ range .user }}
                <tr>
                    <td> {{ .Name }} </td>
                    <td> {{ .Age }} </td>
                    <td> {{ if .Sex }} 男 {{ else }}女 {{ end }} </td>
                    <td> {{ .Addr }} </td>
                    <td>
                        <a href="/user/edit/?id={{ .ID }}"><input type="submit" value="编辑"/></a>
                        <!-- web 页面输入 id = 遍历当前用户的 id 执行 后端 delete 函数-->
                        <a href="/user/delete/?id={{ .ID }}"><input type="submit" value="删除" /></a>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
        <a href="/user/add/"><input type="submit" value="添加用户"/></a>
    </body>
</html>